/*
  声明顺序
  Positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  Box-model
    display: block;
    float: right;
    width: 100px;
    height: 100px;
  Typography
    font: normal 13px "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    text-align: center;
    vertical-align: middle;
  Visual
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  Misc
    opacity: 1;
*/
/*
    chrome web默认 font-size: 16px; line-height: 21px;
    firefox web默认 font-size: 16px; line-height: 19px;
    margin: 8px;
*/
$colorDark: #333; /*字体*/
$colorDeep: #555; /*按钮字体*/
$colorMiddle: #777; /*a:hover字体*/
$colorLight: #c9c9c9; /*失效按钮字体*/
$borderColorDark: #d2d2d2; /*下拉框*/
$borderColorDeep: #c9c9c9; /*按钮的边框*/
$borderColorMiddle: #e2e2e2; /*表格的边框, tab边框*/
$borderColorLight: #e6e6e6; /*form的边框，失效按钮的边框*/
$backgroundColorDark: #d2d2d2; /**/
$backgroundColorDeep: #e2e2e2; /**/
$backgroundColorMiddle: #e6e6e6; /*按钮hover的背景色*/
$backgroundColorLight: #fbfbfb; /*失效按钮的背景色*/
$lineHeightBody: 24px;
$heightInput: 30px;
$heightButton: 30px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    color: $colorDark;
    background-color: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul,li {
    list-style: none;
}
a {
    color: $colorDark;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: $colorMiddle;
    outline: 0;
}
a:active {
    outline: 0;
}
img {
    display: inline-block;
    vertical-align: middle;
    border: none;
}
/* hr 默认border为1 */
hr {
    height: 1px;
    margin: 4px 0;
    background-color: $borderColorLight;
    border: 0;
    clear: both;
}
/*
    chrome width: 196px; height: 16px;border: 2px; padding: 1px 0;
    firefox width: 143px; height: 16px; border: 1px; padding: 2px;
*/
input[type="text"] {
    padding: 0 4px;
    height:30px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid $borderColorLight;
    border-radius: 2px;
    outline: 0;
}
textarea {
    padding: 0 4px;
    font-family: inherit; /*textarea有自己的字体*/
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid $borderColorLight;
    border-radius: 2px;
    outline: 0;
    resize: vertical;
}
select {
    padding: 0 4px;
    height:30px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid $borderColorLight;
    border-radius: 2px;
    outline: 0;
}


/*------------------------*/
button {
    outline: 0;
}
.k-btn {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
    color: $colorDeep;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid $borderColorDeep;
    border-radius: 2px;
    cursor: pointer;
}
.k-btn:hover {
    background-color: $backgroundColorMiddle;
}
.k-btn-disabled,.k-btn-disabled:hover,.k-btn-disabled:active {
    border: 1px solid $borderColorLight;
    background-color: $backgroundColorLight;
    color: $colorLight;
    cursor: not-allowed;
}